---
title: Test your CORS! corstest.com
---

%h1 Corstest.com

%p{ng: {controller: "ProtocolCtrl"}}
  %a{ng: {href: "{{current_url('https')}}", hide: "is_https()"}}
    Switch to HTTPS
  %a{ng: {href: "{{current_url('http')}}", show: "is_https()"}}
    Switch to HTTP

%table{ng: {controller: "TestCtrl", init: "run_tests()"}}
  %thead
    %tr
      %th Feature
      %th Result
  %body
    %tr{ng: {repeat: "test in tests"}}
      %td {{test.display_name}}
      %td {{test.result}}

%h2 About

%p
  This is a tool for testing arbitrary browsers' support for various of modern communications protocols in different combinations and contexts. It is for answering questions like "Can I use EventSource combined with CORS?" or "What will my combination of HTTPS and secure Websockets on another domain do to the HTTPS padlock icon?" that you can't figure out from <a href="http://caniuse.com/">Can I use</a> (which is otherwise a great resource).


%p Please contribute feedback and check out the code on Github:

%ul
  %li
    %a{href: "https://github.com/gkop/corstest-client"}https://github.com/gkop/corstest-client
  %li
    %a{href: "https://github.com/gkop/corstest-server"}https://github.com/gkop/corstest-server
